<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>OAuth 2.0 로그인</title>
</head>
<body>

<div class="container" style="display: flex; justify-content: center; align-items: center; flex-direction: column; margin: 200px auto; ">
  <a href="/oauth2/authorization/google" class="btn btn-sm btn-success active" role="button">Google Login</a><br>
  <a href="/oauth2/authorization/kakao">
    <img src="/images/kakao_login_medium_narrow.png" alt="kakao-login">
  </a>
</div>
</body>
</html>